#menu {
    display: none;
    background-color: #656565;
    position:absolute;
    height: 220px;
    width: 190px;
    border-radius: 13px;
    margin-left: 18px;
    opacity: 0.90;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    
}

#menu li{
    font-size: 150%;
}

#menu img {
    margin-left: -5px;
}

#menu li:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.head {
    background-color: #585858;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
}

#titulo {
    text-align: center;
    font-size: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 3px black;
    margin-bottom: 15px;
    margin-top: -10px;

}

#titulo img {
    width: 100px;
    height: 80px;

}

p:hover {
    color: #A9424A;
    cursor: pointer;
}

.section,
p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}

ol {
    font-size: 25px;
    font-style: italic initial;
}

ol li {
    margin: 10px;
}

#default {
    margin: 50px;
}

.head img {
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo-img {
    margin-left: 40%;
    width: 100px;
}
.opcoes{
    margin: 20px;
    background-color: #656565;
    text-align: center;
    border-radius: 10px;
    height: 80px;
    padding: 0.9px;
    
}
.opcoes:hover{
    background-color: #808080;
    cursor: pointer;
}
.mcontainer{
 width: 600px;
 background-color: #4a4a4a;
 height: auto;
 padding: 10px;
 margin: auto;
 border-radius: 10px;
box-shadow: 3px 5px 4px rgb(177, 172, 172);
}
#solicitacao{
    color: #4a4a4a;
    text-align: center;

}
#aboutText{
    text-align: justify;
    
}
.acontainer{
    background-color: #A6A1A1;
    margin: 5%;
    border-radius: 10px;
    padding: 20px;
}
body{
    color: #313131;
}


