#menu {
    display: none;
    background-color: #126a8d;
    position: fixed;
    height: 220px;
    width: 190px;
    border-radius: 13px;
    margin-left: 18px;
    opacity: 0.90;
    
}

#menu li{
    font-size: 150%;
}

#menu img {
    margin-left: -5px;
}

#menu p:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.head {
    background-color: #0D97CE;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
}

#titulo {
    text-align: center;
    font-size: 110px;
    color: rgb(8, 104, 107);
    -webkit-text-stroke: 1px black;
    margin-bottom: 15px;
    margin-top: -10px;

}

#titulo img {
    width: 100px;
    height: 80px;

}

p:hover {
    color: rgb(177, 5, 177);
    cursor: pointer;
}

.section,
p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}

ol {
    font-size: 25px;
    font-style: italic initial;
}

ol li {
    margin: 10px;
}

#default {
    margin: 50px;
}

.head img {
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo-img {
    margin-left: 40%;
    width: 100px;
}
.opcoes{
    margin: 20px;
    background-color:rgb(238, 229, 229);
    text-align: center;
    border-radius: 10px;
    
}
.mcontainer{
 width: 600px;
 background-color: rgb(54, 100, 100);
 height: auto;
 padding: 10px;
 margin: auto;
 border-radius: 10px;
box-shadow: 3px 5px 4px rgb(177, 172, 172);
}
